<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>亚伟-关注web前端开发</title>
    <link type="image/x-icon" rel="icon" href="/public/images/blog_ico.ico" />
    <link type="image/x-icon" rel="shortcut icon" href="/public/images/blog_ico.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>
    <div class="index">
        <div class="backimg">
            <img src="/public/images/IMG_0293.JPG">

            <div class="topcon">
                <div class="cursor">本期号码：<span></span></div>
                <div class="count">
                    <div class="wan">万：<span></span></div>
                    <div class="qian">千：<span></span></div>
                    <div class="bai">百：<span></span></div>
                    <div class="shi">十：<span></span></div>
                    <div class="ge">个：<span></span></div>
                </div>
                <ul>
                    <li data-type="" class="on">正常</li>
                    <li data-type="jiou">奇偶</li>
                    <li data-type="daxiao">大小</li>
                </ul>
            </div>
           
        </div>

        <div class="main">
            <table border="0" cellspacing="0" cellpadding="0" class="one">

            </table>
        </div>
    </div>
    

    <div class="alert_box">
        <div class="wan">万：<span></span></div>
        <div class="qian">千：<span></span></div>
        <div class="bai">百：<span></span></div>
        <div class="shi">十：<span></span></div>
        <div class="ge">个：<span></span></div>
    </div>



</body>

</html>