<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>亚伟-关注web前端开发</title>
    <link type="image/x-icon" rel="icon" href="/public/images/blog_ico.ico" />
    <link type="image/x-icon" rel="shortcut icon" href="/public/images/blog_ico.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>
    <div class="index">
        <div class="backimg">
            <img src="/public/images/IMG_0293.JPG">
            <ul>
                <li class="on">奇偶</li>
                <li>大小</li>
            </ul>
        </div>

        <div class="main">
            <table border="0" cellspacing="0" cellpadding="0" class="one">

            </table>
        </div>
    </div>



</body>

</html>